.container {
  width: 65%;
  height: 660px;
  font-size: 19px;
}

.dataTable {
  margin-left: -40px;
}

.bold {
  font-weight: bold;
  margin-left: -42px;
}

.TextBold {
  font-weight: bold;
}

.selectedData {
  margin-left: -40px;
  height: 45px;
  margin-top: 5px;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  display: inline-block;
  margin-left: 280px;
  font-size: 13px;
}

.next {
  background-color: #f1f1f1;
  color: black;
  display: inline-block;
  margin-left: 150px;
  font-size: 13px;
}